*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.left-bar{
    width: 50%;
    background-color: #0f172a;
    color: white;
    padding: 0% 5% 5% 5%;
    position: fixed;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    scrollbar-width: none;
    scrollbar-color: gray transparent;
}

.left-bar h1 {
    font-size: 5vw;
    margin: 7% 0 7% 0;
}

.left-bar p {
    font-size: 2vw;
    margin-top: -5%;
    margin-bottom: 5%;
    opacity: 0.8;
}

.nav-links {
    padding-bottom: 5%;
}

.nav-links a {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 2.5vw;
    margin-bottom: 2.5%;
    transition: 0.3s;
}

.nav-links a:hover {
    color: cyan;
}

.social-links {
    padding-bottom: 5%;
}

.social-links a {
    margin-right: 3%;
    color: white;
    text-decoration: none;
    font-size: 3vw;
}

.questions{
    font-size: 2.5vw;
}

.input {
    display: flex;
}

.enter-button {
    padding: 5px 5px;
    font-size: x-large;
}

textarea {
    font-size: x-large;
}

textarea::placeholder {
    font-size: larger;
}

#output {
    font-size: x-large;
}

.right-bar{
    width: 50%;
    margin-left: 50%;
    padding: 40px;
    color: rgb(226 232 240);
    height: 100vh;
    overflow-y: auto;
    background-color: #0f172a;
    position: fixed;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    scrollbar-width: none;
    scrollbar-color: gray transparent;
}


.sections{
    font-size: 1.5vw;
    line-height: 3vw;
    width: 100%;
    text-align: justify;
}

